# DO NOT block these files (the ! means exception)
# !**/.vscode/
# !**/.idea/
# !.vscode/extensions.json


# Client & Server: Block environment variable 
# application.properties
# config.json
# .env

# IDE & Config
.vscode/
.idea/
.env
application.properties
config.json

# Build & Dependencies
**/target/
**/build/
**/bin/
.gradle/
node_modules/

# Lock files
client/package-lock.json
client/yarn.lock
client/pnpm-lock.yaml

# Gradle Wrapper
server/gradlew
server/gradlew.bat
server/gradle/

# Database
mysql_data/