<body
    style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div
        style="max-width: 500px; width: 100%; background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); margin: auto;">
        <div style="display: flex; align-items: center; border-bottom: 2px solid #000; padding-bottom: 15px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Black_Kawaii_Illustration_Gaming_Logo.png"
                alt="SPOCE HOSPITAL" width="50px" style="border-radius: 100%;">
            <span style="font-size: 20px; font-weight: bold; margin-left: 20px; margin-top: 10px; color: black;">SPOCE HOSPITAL</span>
        </div>

        <div style="padding-top: 20px;">
            <h3 style="color: #000;">Xin chào {$email},</h3>
            <p style="color: #333; font-size: 16px;">Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu đăng nhập cho tài
                khoản SPOCE HOSPITAL của bạn.</p>
            <p
                style="font-size: 22px; font-weight: bold; text-align: center; background: #f8f8f8; padding: 10px; border-radius: 5px; border: 1px dashed red; color: black;">
                {$password}
            </p>
            <p style="color: #333;">Vui lòng sử dụng <strong>mật khẩu</strong> này thay cho mật khẩu cũ của bạn, nếu
                được thì hãy đặt lại mật khẩu mới lần nữa.</p>
            <p style="color: #333;">Tuyệt đối không chia sẻ mật khẩu này cho bất kì ai dù người đó tự nhận mình là quản
                trị viên của <strong>SPOCE HOSPITAL</strong>.</p>
            <p style="color: #333;">Nếu bạn không thực hiện yêu cầu này, bạn có thể bỏ qua hoặc liên hệ hỗ trợ với chúng
                tôi.</p>
            <p style="color: #777; margin-top: 20px;">Trân trọng,<br><strong>SPOCE HOSPITAL </strong></p>
            </div>

        <div
            style="background-color: #333; color: #fff; text-align: center; padding: 15px; border-radius: 0 0 8px 8px; margin-top: 20px;">
            <p style="margin: 0; font-size: 14px;">Liên hệ với đội ngũ hỗ trợ:</p>
            <div style="margin-top: 10px;">
                <a href="https://www.facebook.com/namduongit" style="margin: 0 10px;">
                    <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Facebook_glyph_svg-512.png"
                        alt="Facebook" width="30px" style="background-color: white; border-radius: 100%; padding: 1px;">
                </a>
                <a href="https://github.com/namduongit" style="margin: 0 10px;">
                    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-512.png" alt="GitHub"
                        width="30px" style="background-color: white; border-radius: 100%; padding: 1px;">
                </a>
                <a href="mailto:nguyennamduong205@gmail.com" style="margin: 0 10px;">
                    <img src="https://cdn0.iconfinder.com/data/icons/social-circle-3/72/Email-512.png" alt="Email"
                        width="30px" style="background-color: white; border-radius: 100%; padding: 1px;">
                </a>
            </div>
        </div>

    </div>
</body>